In [17]:
import pandas as pd
import xarray as xr
from pandas import to_datetime as tdt
import numpy as np

names_of_conc=['no2_conc','o3_conc','so2_conc','pm2p5_conc','pm10_conc','co_conc']
names_of_outfiles=['no2_for_matrix.txt','o3_for_matrix.txt','so2_for_matrix.txt','pm2p5_for_matrix.txt','pm10_for_matrix.txt','co_for_matrix.txt']

n=7728
ds = xr.open_dataset('vykydy_spring_north.nc')
df_ = ds.to_dataframe().reset_index()
start_date = tdt('2021-03-01')
df_['time'] = start_date + df_['time']
df_.drop(columns=['level'])
latitude=np.array(df_['latitude'])
latitude=np.unique(latitude)
df_

,longitude,latitude,level,time,co_conc,no2_conc,o3_conc,pm10_conc,pm2p5_conc,so2_conc
0,23.549999,51.750000,0.0,2021-03-01 01:00:00,186.673981,3.648893,54.783260,10.876151,8.385854,1.558661
1,23.549999,51.750000,0.0,2021-03-01 05:00:00,192.282684,4.524402,48.232368,7.111606,6.330842,1.346493
2,23.549999,51.750000,0.0,2021-03-01 09:00:00,176.808044,3.244327,54.647785,8.558146,6.790668,2.418943
3,23.549999,51.750000,0.0,2021-03-01 13:00:00,170.230804,3.606734,59.555054,9.112255,6.916603,2.467004
4,23.549999,51.750000,0.0,2021-03-01 17:00:00,214.836731,8.910893,45.860107,16.531658,12.233769,3.665690
...,...,...,...,...,...,...,...,...,...,...
471403,29.549999,50.450001,0.0,2021-05-31 05:00:00,130.686829,1.501547,61.177982,6.835760,5.820477,1.073204
471404,29.549999,50.450001,0.0,2021-05-31 09:00:00,120.163002,0.405684,77.142914,5.399390,4.972664,0.753744
471405,29.549999,50.450001,0.0,2021-05-31 13:00:00,118.494102,0.388468,77.647720,5.429473,4.823545,1.197433
471406,29.549999,50.450001,0.0,2021-05-31 17:00:00,120.162895,0.867260,72.650696,5.881469,5.313124,0.871724
471407,29.549999,50.450001,0.0,2021-05-31 21:00:00,126.901070,1.478014,54.156368,5.220471,4.342747,0.612998

In [18]:
import numpy as np
time = [i for i in range(1,93)]
counter = int(471408/6/92)
time_repeat =  []
for _ in range(counter):
    time_repeat.extend(time)

latitude=np.array(df_['latitude'])
latitude=np.unique(latitude)
latitude=np.around(latitude,2)
longitude=np.array(df_['longitude'])
longitude=np.unique(longitude)
longitude=np.around(longitude,2)
longitude
longitude_for_df=[]

for j in longitude:
    longitude_for_df.extend(j for _ in range(1288))
latitude_for_df=[]
for i in latitude:
    latitude_for_df.extend(i for _ in range(92))
latitude_for_df.reverse()
latitude_for_df2=[]
len(latitude_for_df)
for _ in range(61):
    latitude_for_df2.extend(latitude_for_df)
len(latitude_for_df2)

78568

In [19]:
len(longitude_for_df)
print(longitude_for_df[78560])

29.55

In [20]:

service=np.array(df_['no2_conc'])
vykydy_no2=[]
for i in range (0,471408,6):
    ser=((service[i]+service[i+1]+service[i+2]+service[i+3]+service[i+4]+service[i+5])/6)
    vykydy_no2.append(ser)
 #       np.savetxt(outfile, vykydy, delimiter='\n', fmt='%1.15f')

service=np.array(df_['so2_conc'])
vykydy_so2=[]
for i in range (0,471408,6):
    ser=((service[i]+service[i+1]+service[i+2]+service[i+3]+service[i+4]+service[i+5])/6)
    vykydy_so2.append(ser)

service=np.array(df_['co_conc'])
vykydy_co=[]
for i in range (0,471408,6):
    ser=((service[i]+service[i+1]+service[i+2]+service[i+3]+service[i+4]+service[i+5])/6)
    vykydy_co.append(ser)

service=np.array(df_['o3_conc'])
vykydy_o3=[]
for i in range (0,471408,6):
    ser=((service[i]+service[i+1]+service[i+2]+service[i+3]+service[i+4]+service[i+5])/6)
    vykydy_o3.append(ser)

service=np.array(df_['pm2p5_conc'])
vykydy_pm2p5=[]
for i in range (0,471408,6):
    ser=((service[i]+service[i+1]+service[i+2]+service[i+3]+service[i+4]+service[i+5])/6)
    vykydy_pm2p5.append(ser)

service=np.array(df_['pm10_conc'])
vykydy_pm10=[]
for i in range (0,471408,6):
    ser=((service[i]+service[i+1]+service[i+2]+service[i+3]+service[i+4]+service[i+5])/6)
    vykydy_pm10.append(ser)
df2=pd.DataFrame({'time':time_repeat,'no2': vykydy_no2, 'o3': vykydy_o3,'so2':vykydy_so2,'pm2.5':vykydy_pm2p5,'pm10': vykydy_pm10, 'co': vykydy_co})
df2

       time        no2         o3       so2      pm2.5       pm10          co
0         1   5.252700  51.692347  2.654524   9.605743  12.695112  192.441569
1         2   7.707136  46.039968  3.895643  18.098120  25.414060  229.828125
2         3   9.924423  40.913612  4.210040  18.534868  22.058535  252.312439
3         4  11.300662  40.129539  7.031236  31.374064  40.542399  321.204244
4         5   4.829215  58.696457  2.343223   7.440000  11.433828  196.356608
...     ...        ...        ...       ...        ...        ...         ...
78563    88   1.984611  64.259562  0.604152   6.088051   7.003332  139.368612
78564    89   1.527000  57.127258  0.217689   4.162439   4.099697  129.047353
78565    90   1.121115  66.479965  0.252951   4.161693   4.442520  144.590190
78566    91   0.909588  61.472402  0.217021   3.282997   3.462619  144.497070
78567    92   0.960055  66.336650  0.809058   4.857992   5.528108  123.786265

[78568 rows x 7 columns]

In [22]:
df2=pd.DataFrame({'time':time_repeat,'lon':longitude_for_df,'lat':latitude_for_df2,'no2': vykydy_no2, 'o3': vykydy_o3,'so2':vykydy_so2,'pm2.5':vykydy_pm2p5,'pm10': vykydy_pm10, 'co': vykydy_co})
df2.to_csv('dataframe_of_nothern_Ukraine.csv')