In [19]:
import pandas as pd
import xarray as xr
from pandas import to_datetime as tdt
import numpy as np
days=6*92
ds = xr.open_dataset('no2_spring.nc')
df_ = ds.to_dataframe().reset_index()
start_date = tdt('2021-03-01')
df_['time'] = start_date + df_['time']
df = df_[(df_['latitude'] >= 50.3)  & (df_['latitude'] <= 51.7) & (df_['longitude'] <= 29.8) & (df_['longitude'] >= 22)]
time=np.array(df['time'])[:days]
vykydy=[]
for i in range(days):
    dd=df[df['time']==time[i]]
    chemical=np.array(dd[name_chemical])
    vykydy.append((chemical.sum()/1008))
result_data = []
for i in range(0,days,6):
    ser = (vykydy[i] + vykydy[i+1] + vykydy[i+2] +vykydy[i+3] + vykydy[i+4] + vykydy[i+5])/6
    result_data.append(ser)
len_of_result_data=len(result_data)
np.savetxt(outfile, result_data, delimiter='\n', fmt='%1.15f')
for i in range (5):
    do_everything(92,names_of_infiles[0],names_of_conc[0],names_of_outfiles[0])

         longitude   latitude  level                time  no2_conc
0            22.65  51.650002    0.0 2021-03-01 01:00:00  4.786252
552          22.65  51.549999    0.0 2021-03-01 01:00:00  5.009497
1104         22.65  51.450001    0.0 2021-03-01 01:00:00  5.160295
1656         22.65  51.349998    0.0 2021-03-01 01:00:00  5.340183
2208         22.65  51.250000    0.0 2021-03-01 01:00:00  5.673115
...            ...        ...    ...                 ...       ...
2199720      29.75  50.750000    0.0 2021-03-01 01:00:00  3.664290
2200272      29.75  50.650002    0.0 2021-03-01 01:00:00  3.675091
2200824      29.75  50.549999    0.0 2021-03-01 01:00:00  3.684740
2201376      29.75  50.450001    0.0 2021-03-01 01:00:00  3.682445
2201928      29.75  50.349998    0.0 2021-03-01 01:00:00  3.555790

[1008 rows x 5 columns]